:root {
  --colot-text: #212121;
  --color-backraund: #79af8f7e;
  --color-shadow: rgba(0, 0, 0, 0.48);
  --color-border: #013f96;
  --color-button: rgba(0, 0, 0, 0.29);
  --color-img-shadow: rgba(0, 0, 0, 0.2);
  --color-img-shado: rgba(0, 0, 0, 0.14);
  --color-img-shad: rgba(0, 0, 0, 0.12);
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-weight: 500;
  font-size: 18px;

  color: var(--colot-text);

  position: relative;
}

header {
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: var(--color-backraund);
  box-shadow: 0px 4px 8px 0px var(--color-shadow);
}

main {
  margin-top: 65px;

  text-align: center;
}

a {
  text-decoration: none;

  color: inherit;
}

li {
  list-style: none;
}

.search-form {
  display: flex;

  height: 35px;

  border-radius: 7px;

  overflow: hidden;
}

.search-form:hover,
.search-form:focus {
  outline: 1px solid var(--color-border);
}

.search-form__input,
.search-form__button {
  display: block;

  border: none;
  outline: none;
}

.search-form__input {
  width: 200px;

  padding-left: 10px;
  padding-right: 10px;
}

.search-form__button {
  padding-left: 10px;
  padding-right: 10px;

  cursor: pointer;
}

.search-form__button--focus {
  box-shadow: 0px 0px 3px 1px var(--color-button);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  padding-left: 10px;
  padding-right: 10px;
}

.gallery__item {
  max-width: 420px;
  flex-basis: 300px;
  flex-grow: 1;
}

.photo-card {
  display: flex;
  flex-direction: column;

  box-shadow: 0px 1px 3px var(--color-img-shad), 0px 1px 1px var(--color-img-shado),
    0px 2px 1px var(--color-img-shadow);
  border-radius: 0px 0px 4px 4px;
}

.photo-card__image {
  width: 100%;
  height: 250px;

  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;

  padding-left: 10px;
  padding-right: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 5px;
  padding-right: 5px;
} 

.loader {
  font-size: 30px;
}

.loader--hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
